// @use 'colors' as colors;

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  // scroll-padding-block: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: black;
    color: white;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // background: radial-gradient(ellipse at 0% 100%, #1b2735 5%, #090a0f 100%);
  color: whitesmoke;

  // background: hsla(230, 25%, 5%, 1);
  background: radial-gradient(circle farthest-corner at 0% 100%, hsla(230, 25%, 5%, 1) 10%, hsl(200, 33%, 9%) 100%);
  background: -moz-radial-gradient(circle farthest-corner at 0% 100%, hsla(230, 25%, 5%, 1) 10%, hsl(200, 33%, 9%) 100%);
  background: -webkit-radial-gradient(circle farthest-corner at 0% 100%, hsla(230, 25%, 5%, 1) 10%, hsl(200, 33%, 9%) 100%);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  // background: colors.$base-bg;
  // color: colors.$base-color;
  font-family: 'Montserrat', sans-serif;
  // overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
  transition: all 1.5s ease-in;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100vh;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
  transition: all 500ms ease-in;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

// main {
//   scroll-snap-align: start;
//   scroll-snap-stop: always;
//   // position: relative;
//   height: 100vh;
//   width: 100%;
// }


// footer {
//   scroll-snap-align: start;
//   scroll-snap-stop: always;
//   position: relative;
//   width: 100%;
//   height: 10vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: colors.$blue;
//   color: colors.$light;
//   // background-image: colors.$linear-orange;
//   // background-clip: text;
//   // -webkit-background-clip: text;
//   // -webkit-text-fill-color: transparent;
// }